useDynLib(QForm)

exportPattern("^[[:alpha:]]+")

importFrom("CompQuadForm", "davies")
importClassesFrom("Matrix", "dsyMatrix", "dgeMatrix")
importMethodsFrom("Matrix", "diag", "crossprod")
importFrom("Rcpp", "evalCpp")
importFrom("RSpectra", "eigs")
importFrom("stats", "optimize")
importFrom("glue", "glue")
importFrom("RcppRoll", "roll_mean", "roll_sd")
